<!DOCTYPE html> 
<html> 
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

<style>


</style> 
</head> 
  <main>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{ name }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href=""></a>
        <a class="mdl-navigation__link" href=""></a>
        <a class="mdl-navigation__link" href=""></a>
 
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">SET</span>
    <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="../intro">SET Intro</a>    
          <a class="mdl-navigation__link" href="../detect">Detect Segments</a>
      <a class="mdl-navigation__link" href="">Edit Segment</a>
      <a class="mdl-navigation__link" href="../deliver">Deliver to YouTube</a>
           <a class="mdl-navigation__link" href="../config">Configuration</a>

  
    </nav>
  </div> 
  
  <div class="mdl-grid">

  <div class="mdl-cell mdl-cell--10-col">
   <h2>Welcome to SET <br><small>a video segment examination tool<small></h2>
  <br><p> Use to SET to eliminate unwanted video segments.  SET uses video frame analysis and feeds info to the Google brain to determine shot and scene transitions.</p>
  <!-- Colored FAB button with ripple -->
       <a href="/config"  id="continue" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">Continue</a>
 
  </div>

  </div>

  
  
  
  </main>
 </html>
 
 
 
 
 
 
 
 
 